@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.navbar {
  background-color: #FFF5EE;
  align-items: center;
  justify-content: center;
}

.container-fluid {
  margin-left: 1%;
}

/* Estilos para las columnas */
.contenedor {
  display: flex; /* Utiliza flexbox para el diseño */
  min-height: 100%;
}

.columna {
  width: 100%; /* Establece el ancho al 50% para dos columnas */
  background-color: #FFF5EE;
  
  /*padding: 20px;*/
  /*box-sizing: border-box;  Incluye el padding en el ancho total */
  /*border: 1px solid #ccc; Borde para visualizar las columnas */
}

.contenedor2 {
  display: flex; /* Utiliza flexbox para el diseño */
  width: 100%;
  min-height: 100%;
}

.contenedor3 {
  display: flex; /* Utiliza flexbox para el diseño */
  min-height: 100%;
  height: max-content;
  align-self: center;
  text-decoration: black;
  background-color: #866042;
}

.contenedor3v2 {
  display: flex; /* Utiliza flexbox para el diseño */
  min-height: 100%;
  height: max-content;
  align-self: center;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  text-decoration: white;
  background-color: #866042;

}

.columna2 {
  width: 100%; /* Establece el ancho al 50% para dos columnas */
  justify-items: center;
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  /*border: 1px solid #ccc; Borde para visualizar las columnas */
  background-color: #956E53;
}

.columna3 {
  width: 100%; /* Establece el ancho al 50% para dos columnas */
  justify-items: center;
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  /*border: 1px solid #ccc; Borde para visualizar las columnas */
  background-color: #6C503C;
}

.columna4 {
  padding-top: 1%;
  text-align: center;
}

/* Estilos CSS personalizados para los botones en las columnas */
.botonColumna {
  width: 100%; /* El botón ocupará el 100% del ancho de la columna */
  justify-content: center; /* Centrar horizontalmente el contenido del botón */
  /* Otros estilos que necesites para sobrescribir los estilos de la librería */
}

.footer-container {
  position:static;
  bottom: 0;
  width: 100%;
  padding: 20px;
  overflow-y: auto;
  background-color: black;
  margin-top: auto;
  z-index: 100;
  text-align: center;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: max-content;
}

.footer-column {
  margin-bottom: 0;
}

.h1 {
  font-size: xx-large;
  font-variant-position: super;
  font-family: 'Times New Roman', Times, serif;
}

.h2 {
  font-size: large;
  font-variant-position: super;
  font-family: 'Times New Roman', Times, serif;
}

.serviciosTitulo {
  font-size: xx-large;
  font-variant-position: super;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:white;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  text-decoration: solid;
  text-decoration:double;
  background-color: #956E53;
}

.contenedorServiciosGral {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-image: url('../public/service-bg2.jpg');

}

.contenedorServicios {
  width: 90%;
  display: flex;
  margin-left: 2%;
  margin-right: 2%;

}

.columnaDerecha {
  width: 100%; /* Cambiar el ancho a 100% */
  border-top: solid;
  border-bottom: solid;
  border-right: solid;
  border-top-color: #6C503C;
  border-bottom-color: #6C503C;
  border-right-color: #6C503C;
  border-left: none;
  display: block; /* Cambiar a display block */
  justify-content: right;
  padding-right: 1%;
}

.columnaIzquierda {
  width: 100%;
  border-top: solid;
  border-bottom: solid;
  border-left: solid;
  border-top-color: #6C503C;
  border-bottom-color: #6C503C;
  border-left-color: #6C503C;
  border-right: none;
  justify-content: left;
  display: block;
  align-self: left;
  justify-self: left;
  padding-left: 1%;
}

.columnaSinNada {
  width: 50%;
  border-bottom: solid;
  border-bottom-color: #6C503C;
  border-top: solid;
  border-top-color: #6C503C;
  border-right: none;
  justify-content: left;
  display: flex;
  align-self: left;
  justify-self: left;
  padding-left: 1%;
}

.tituloDerecha {
  color: #6C503C;
  font-size: xx-large;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  min-width: max-content;
}

.bodyServicios {
  width: 50%; /* Cambiar el ancho a 100% */
  display: block; /* Cambiar a display block */
  margin-bottom: 1%;
  justify-content: center;
  color: black;
}