@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.navbar {
  background-color: #DCD7D4;
}

/* Estilos para las columnas */
.contenedor {
  display: flex; /* Utiliza flexbox para el diseño */
  min-height: 100%;
}

.columna {
  width: 50%; /* Establece el ancho al 50% para dos columnas */
  padding: 20px;
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  /*border: 1px solid #ccc; Borde para visualizar las columnas */
}

.contenedor2 {
  display: flex; /* Utiliza flexbox para el diseño */
  width: 100%;
  min-height: 100%;
}

.contenedor3 {
  display: flex; /* Utiliza flexbox para el diseño */
  min-height: 100%;
  height: max-content;
  align-self: center;
  text-decoration: black;
  background-color: #866042;
}

.contenedor3v2 {
  display: flex; /* Utiliza flexbox para el diseño */
  min-height: 100%;
  height: max-content;
  align-self: center;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  text-decoration: black;
  background-color: #866042;

}

.columna2 {
  width: 100%; /* Establece el ancho al 50% para dos columnas */
  justify-items: center;
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  /*border: 1px solid #ccc; Borde para visualizar las columnas */
  background-color: #956E53;
}

.columna3 {
  width: 100%; /* Establece el ancho al 50% para dos columnas */
  justify-items: center;
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  /*border: 1px solid #ccc; Borde para visualizar las columnas */
  background-color: #6C503C;
}

/* Estilos CSS personalizados para los botones en las columnas */
.botonColumna {
  width: 100%; /* El botón ocupará el 100% del ancho de la columna */
  justify-content: center; /* Centrar horizontalmente el contenido del botón */
  /* Otros estilos que necesites para sobrescribir los estilos de la librería */
}

.footer-container {
  position:static;
  bottom: 0;
  width: 100%;
  padding: 20px;
  overflow-y: auto;
  background-color: black;
  margin-top: auto;
  z-index: 100;
  text-align: center;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: max-content;
}

.footer-column {
  margin-bottom: 0;
}

.h1 {
  font-size: xx-large;
  font-variant-position: super;
}