@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html, body {
  height: 100%;
  margin: 0; 
}

.navbar {
  background-color: #FFF5EE;
  align-items: center;
  justify-content: center;
  background-image: url('/bg-navbar.jpg');

}

.container-fluid {
  margin-left: 1%;
  align-items: center;
  justify-content: center;
  align-self: center;
  display: flex;
  padding-top: 1%;
  padding-bottom: 1%;
}

/* Estilos para las columnas */
.contenedor {
  display: flex; /* Utiliza flexbox para el diseño */
  min-height: 100%;
}

.columnaGralHome {
  width: 100%; /* Establece el ancho al 50% para dos columnas */
  background-image: url('/carousel1.png');
  background-repeat: no-repeat;
  background-size:cover;
  height: fit-content;
  /*border: 1px solid #ccc; Borde para visualizar las columnas */
}

.columna {
  width: 100%; /* Establece el ancho al 50% para dos columnas */
  padding-bottom: 2%;
  padding-left: 20%;
  padding-right: 20%;
  /*padding: 20px;*/
  /*box-sizing: border-box;  Incluye el padding en el ancho total */
  /*border: 1px solid #ccc; Borde para visualizar las columnas */
}

.contenedor2 {
  display: flex; /* Utiliza flexbox para el diseño */
  width: 100%;
  min-height: 100%;
}

.contenedor3 {
  display: flex; /* Utiliza flexbox para el diseño */
  align-self: center;
  background: linear-gradient(#3b3027,#1f1810);
  text-decoration: rgb(255, 255, 255);

}

.contenedor3v2 {
  display: flex; /* Utiliza flexbox para el diseño */
  min-height: 100%;
  height: max-content;
  align-self: center;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  text-decoration: rgb(255, 255, 255);

}

.columna2 {
  width: 100%; /* Establece el ancho al 50% para dos columnas */
  justify-items: center;
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  /*border: 1px solid #ccc; Borde para visualizar las columnas */
  background-color: #956E53;
}

.columna3 {
  width: 100%; /* Establece el ancho al 50% para dos columnas */
  justify-items: center;
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  /*border: 1px solid #ccc; Borde para visualizar las columnas */
  background-color: #6C503C;
}

.columna4 {
  padding-top: 1%;
  text-align: center;
}

/* Estilos CSS personalizados para los botones en las columnas */
.botonColumna {
  width: 100%; /* El botón ocupará el 100% del ancho de la columna */
  justify-content: center; /* Centrar horizontalmente el contenido del botón */
  color: #FFF5EE;
  /* Otros estilos que necesites para sobrescribir los estilos de la librería */
}

.footer-container {
  position:static;
  bottom: 0;
  width: 100%;
  padding: 20px;
  overflow-y: auto;
  background-color: black;
  margin-top: auto;
  z-index: 100;
  text-align: center;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: max-content;
}

.footer-column {
  margin-bottom: 0;
}

.h1 {
  font-size: xx-large;
  font-variant-position: super;
  color: rgb(255, 255, 255);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.h2 {
  font-size: large;
  font-variant-position: super;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.h22 {
  font-size: large;
  font-variant-position: super;
  color: rgb(255, 255, 255);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.serviciosTitulo {
  font-size: xx-large;
  font-variant-position: super;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:rgb(255, 255, 255);
  display: flex;
  justify-content: left;
  padding-left: 2%;
  margin-bottom: 2%;
  text-decoration: solid;
  text-decoration:double;
  background: linear-gradient(#9db0c4,#818e9a);
}

.contenedorDeContenedorDeServicios {
  background-color: white;
  height: 100%;
  margin: 0; /* Elimina los márgenes */
  padding: 2%; /* Ajusta el relleno según sea necesario */
}


.contenedorServiciosGral {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  margin-top: 2%;
  background-image: url('../public/service-bg2.jpg');
}

.contenedorServicios {
  width: 90%;
  display: flex;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.columnaDerecha {
  width: 50%; /* Cambiar el ancho a 100% */
  border-top: solid;
  border-top-color: #38404E;
  border-bottom: solid;
  border-bottom-color: #38404E;
  border-right: solid;
  border-right-color: #38404E;
  border-left: none;
  display: flex; /* Cambiar a display flex */
  flex-direction: column; /* Establecer la dirección de los elementos como columna */
  align-items: flex-end; /* Alinear los elementos al final (derecha) */
  padding-right: 1%; /* Añadir un pequeño espacio a la derecha */
}


.columnaIzquierda {
  width: 50%;
  border-top: solid;
  border-top-color: #38404E;
  border-bottom: solid;
  border-bottom-color: #38404E;
  border-left: solid;
  border-left-color: #38404E;
  border-right: none;
  justify-content: left;
  display: block;
  align-self: left;
  justify-self: left;
  padding-left: 1%;
}

.columnaSinNada {
  width: 50%;
  border-bottom: solid;
  border-bottom-color: #38404E;
  border-top: solid;
  border-top-color: #38404E;
  border-right: none;
  justify-content: left;
  display: block;
  align-self: left;
  justify-self: left;
  padding-left: 1%;
}

.tituloDerecha {
  color: #38404E;
  font-size: x-large;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  min-width: max-content;
}

.bodyServiciosDerecha {
  width: 55%; /* Ancho ajustado */
  display: block; /* Cambiar a display block */
  margin-bottom: 1%;
  color: black;
  margin-left: 20%; /* Ajustar el margen izquierdo para alinear a la derecha */
}

.bodyServiciosIzquierda {
  width: 55%; /* Cambiar el ancho a 100% */
  display: block; /* Cambiar a display block */
  margin-bottom: 1%;
  justify-content: center;
  color: black;
}

.card {
  background: none;
  width: 100%;
  align-self: center;
  background-image: url('../public/service-bg2.jpg');
  margin-top: 1%;
}

.contenedorProfile {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  justify-items: center;
  justify-content: center;
  align-items: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.containerLayout {
  background-color: black;
}